@import '../../assets/css/mixin.scss';

.input {
  all: unset;
  flex: 1;
  height: 100%;
}

.inputContainer {
  cursor: text;
  display: flex;
  z-index: 3;
  position: relative;
  min-height: 44px;
  background: #fff;
  border: 1px solid #dfe1e5;
  box-shadow: none;
  border-radius: 24px;
  width: 638px;
  max-width: 584px;
  padding: 0 1rem;
  align-items: center;
  gap: 1rem;
  position: relative;
  z-index: 100000;

  @include respond(phone){
    width: 90%;
    font-size: 0.8rem;
    gap : 0.5rem
  }
}

.searchIcon {
  color: #aaa;
}

.completion {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  border: 1px solid #dfe1e5;
  // box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  border-radius: 0 0 24px 24px;
  padding-bottom: 1rem;

  header {
    background-color: #aaa;
    font-size: 0.7rem;
    font-weight: 500;
    color: #eee;
    padding: 0.1rem 0.5rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    a {
      font-size: 0.8rem;
      color: #333;
      padding: 0.5rem 1rem;
      text-transform: capitalize;
      display: flex;
      gap: 0.5rem;
      cursor: pointer;
      align-items: center;

      &:hover {
        background-color: lightgray;
      }

      svg {
        color: #777;
        font-size: large;
      }
    }
  }
}

.hasResult {
  border-radius: 24px 24px 0 0;
}
