@import "../../assets/css/mixin.scss";

.card {
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  display: flex;
  flex-direction: column;
}

.h1 {
  color: #777;
  font-size: 1.2rem;
  margin: 0;

  @include respond(phone) {
    font-size: 0.8rem;
  }
}

.hint {
  margin: -1rem 0 1rem;
  color: #aaa;
  font-size: 0.8rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 4rem;
  margin-bottom: 1rem;

  @include respond(phone) {
    button {
      font-size: 0.8rem !important;
    }
  }
}
